node_modules
.next
dist
.DS_Store
.env

# Ignore the output video from Git but not videos you import into src/.
out

# Custom Studio MP4 exports
public/renders/*.mp4

build/

# clerk configuration (can include secrets)
/.clerk/
